<div stTable #table="stTable">
  <div [cgBusy]="table.busy || isBusy">
    <div class="row">
      <div class="col-sm-6">
        <h3>Gallery</h3>
      </div>
      <div class="col-sm-6 text-right ">
        <div class="m-auto form-inline">
          <select [(ngModel)]="galleryType" class="form-control-sm form-control  my-1 mr-sm-2" *ngIf="galleryTypes.length > 1" (change)="galleryType_changed()">
            <option *ngFor="let row of galleryTypes" [ngValue]="row.value" selected>{{row.text}}</option>
          </select>
          <button type="button" class="btn btn-primary btn-sm" (click)="edit(undefined)" accesskey="A" *ngIf="authService.isAuthenticated"><i class="fas fa-plus"></i> Upload Picture</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 form-inline">
        <label class="my-1 mr-2">Filters</label>
        <input stSearch="description" placeholder="Search Description..." class="form-control-sm form-control my-1 mr-sm-2" type="search" />

        <select stFilter="isActive" stFilterType="string" stFilterOperator="equals" class="form-control-sm form-control  my-1 mr-sm-2" *ngIf="galleryType > 1">
          <option value="">All</option>
          <option value="true" selected>Active</option>
          <option value="false">Inactive</option>
        </select>

        <select stFilter="isApproved" stFilterType="string" stFilterOperator="equals" class="form-control-sm form-control  my-1 mr-sm-2" *ngIf="galleryType == 3">
          <option value="">All</option>
          <option value="true">Approved</option>
          <option value="false" selected>Not Approved</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-12" stPagination #pager="stPagination">
        <smartTablePager [pager]="pager" [pageSizes]="pageSizes" *ngIf="table.items.length > 0"></smartTablePager>
      </div>
    </div>
    <div class="form-row">
      <div *ngIf="table.items.length == 0">
        None found
      </div>
      <div class="card-columns">
        <ng-container *ngFor="let row of table.items;index as blah;">
          <div class="card text-white bg-dark text-center">
            <img [src]="pictureUrlFunction(row.value.pictureId) | secureImage | async" alt="Picture" class="img-fluid imageZoomIn cardColumnImage" (click)="showImage(pictureUrlFunction(row.value.pictureId))" />
            <div class="card-body">
              <p class="card-text text-left" title="{{row.value.description}}">
                <ng-container *ngIf="galleryType == 1; then pictureCard else editCard"></ng-container>
              </p>
            </div>
          </div>
          <ng-template #pictureCard>
            <span *ngIf="row.value.description">{{row.value.description | truncatetext:30}}</span>
            <span *ngIf="!row.value.description">Edit</span>
          </ng-template>
          <ng-template #editCard>
            <button type="button" class="btn btn-link p-0" (click)="edit(row.index)">
              <i class="fas fa-edit"></i>
              <ng-container *ngTemplateOutlet="pictureCard">
              </ng-container>
            </button>
          </ng-template>
        </ng-container>
      </div>
    </div>
    <div class="row">
      <div class="col-12" stPagination #pager="stPagination">
        <smartTablePager [pager]="pager" [pageSizes]="pageSizes" *ngIf="table.items.length > 0"></smartTablePager>
      </div>
    </div>
  </div>
</div>
