<div class="modal-header">
  <h4 class="modal-title">User Add/Edit</h4>
  <div class="col-sm">
    <unsavedChangesNotification [dataUpdated]="dataUpdated"></unsavedChangesNotification>
  </div>
  <button type="button" class="close text-white" aria-label="Close" (click)="close('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [cgBusy]="isBusy" name="form" (ngSubmit)="f.form.valid && save(f)" [class.form-submitted]="f.submitted" #f="ngForm" novalidate>
  <div class="modal-body">
    <div *ngIf="f.submitted && !f.form.valid" class="alert alert-danger"><h4>Check for invalid fields</h4></div>
    <div *ngIf="message != null" class="alert alert-danger"><h4 [innerHTML]="message"></h4></div>
    <spudStringMax [propertyAttributes]="dtoPropertyAttributes.firstName_Attributes" [dto]="dto" [predicate]="'firstName'" [dtoOriginal]="dtoOriginal" [form]="f">
    </spudStringMax>
    <spudStringMax [propertyAttributes]="dtoPropertyAttributes.lastName_Attributes" [dto]="dto" [predicate]="'lastName'" [dtoOriginal]="dtoOriginal" [form]="f">
    </spudStringMax>
    <spudEmail [propertyAttributes]="dtoPropertyAttributes.email_Attributes" [dto]="dto" [predicate]="'email'" [dtoOriginal]="dtoOriginal" [form]="f">
    </spudEmail>
    <spudPhone [propertyAttributes]="dtoPropertyAttributes.phoneNumber_Attributes" [dto]="dto" [predicate]="'phoneNumber'" [dtoOriginal]="dtoOriginal" [form]="f">
    </spudPhone>
    <inputDate [propertyAttributes]="dtoPropertyAttributes.birthDate_Attributes" [dto]="dto" [predicate]="'birthDate'" [dtoOriginal]="dtoOriginal" [form]="f">
    </inputDate>
    <spudStringMax [propertyAttributes]="dtoPropertyAttributes.tripoliNumber_Attributes" [dto]="dto" [predicate]="'tripoliNumber'" [dtoOriginal]="dtoOriginal" [form]="f">
    </spudStringMax>
    <spudStringMax [propertyAttributes]="dtoPropertyAttributes.narNumber_Attributes" [dto]="dto" [predicate]="'narNumber'" [dtoOriginal]="dtoOriginal" [form]="f">
    </spudStringMax>
    <div class="form-group form-row">
      <label for="certificationLevel" class="col-form-label col-sm-3"><defaultLabel [propertyAttributes]="dtoPropertyAttributes.certificationLevel_Attributes"></defaultLabel></label>
      <div class="col-sm-9">
        <div class="form-check form-check-inline" *ngFor="let row of certLevels">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" [(ngModel)]="dto.certificationLevel" name="certificationLevel" id="certificationLevel{{row.value}}" [value]="row.value">
            {{row.text}}
          </label>
        </div>
      </div>
    </div>
    <div class="form-group form-row">
      <label for="role" class="col-form-label col-sm-3">
        <defaultLabel [propertyAttributes]="dtoPropertyAttributes.roles_Attributes"></defaultLabel>
      </label>
      <div class="col-sm-9">
        <div class="input-group mb-2">
          <select id="role" [(ngModel)]="selectedRole" name="role" class="form-control" #role="ngModel">
            <option [ngValue]="undefined">Select...</option>
            <option *ngFor="let o of getRoles()" [ngValue]="o">{{o.name}}</option>
          </select>
          <div class="input-group-append">
            <button type="button" class="btn btn-sm btn-success" (click)="addRole()"><i class="fas fa-plus fa-fw"></i></button>
          </div>
        </div>
        <div class="form-row mb-2" *ngFor="let row of dto.roles;index as blah" [class.toBeDeleted]="row.isDeleted" [class.text-dark]="row.isDeleted">
          <div class="col">
            {{row.name}}
          </div>
          <div class="col-auto">
            <button type="button" class="btn btn-sm btn-outline-danger" (click)="removeRole(blah)" *ngIf="!row.isDeleted"><i class="fas fa-trash-alt fa-fw" [class.fa-times]="!row.isAdded" [class.fa-trash-alt]="row.isAdded"></i></button>
            <button type="button" class="btn btn-sm btn-warning" (click)="row.isDeleted = false" *ngIf="row.isDeleted"><i class="fas fa-undo fa-fw"></i></button>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group form-row">
      <label for="userMemberType" class="col-form-label col-sm-3">
        <defaultLabel [propertyAttributes]="dtoPropertyAttributes.userMemberTypes_Attributes"></defaultLabel>
      </label>
      <div class="col-sm-9">
        <div class="input-group mb-2">
          <select id="userMemberType" [(ngModel)]="memberType" name="userMemberType" class="form-control" #userMemberType="ngModel">
            <option [ngValue]="undefined">Select...</option>
            <option *ngFor="let o of getMemberTypes()" [ngValue]="o">{{o.text}}</option>
          </select>
          <div class="input-group-append">
            <button type="button" class="btn btn-sm btn-success" (click)="addMemberType()"><i class="fas fa-plus fa-fw"></i></button>
          </div>
        </div>
        <div class="form-row mb-2" *ngFor="let row of dto.userMemberTypes;index as blah" [class.toBeDeleted]="row.isDeleted" [class.text-dark]="row.isDeleted">
          <div class="col">
            {{row.memberTypeString}}
          </div>
          <div class="col-auto">
            <button type="button" class="btn btn-sm btn-outline-danger" (click)="removeMemberType(blah)" *ngIf="!row.isDeleted"><i class="fas fa-trash-alt fa-fw" [class.fa-times]="!row.isAdded" [class.fa-trash-alt]="row.isAdded"></i></button>
            <button type="button" class="btn btn-sm btn-warning" (click)="row.isDeleted = false" *ngIf="row.isDeleted"><i class="fas fa-undo fa-fw"></i></button>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group form-row">
      <div class="col-sm-3">
        <label for="" class="col-form-label"><requiredField *ngIf="addressIsRequired"></requiredField>{{dtoPropertyAttributes.addresses_Attributes.name}}</label>
        &nbsp;<button type="button" class="btn btn-sm btn-success" (click)="addAddress()"><i class="fas fa-plus"></i></button>
      </div>
      <div class="col-sm">
        <div class="form-row" *ngFor="let row of dto.addresses;index as blah;" [class.toBeDeleted]="row.isDeleted">
          <div class="col">
            <addressEdit [(addressObj)]="row.addressObj" [isRequired]="addressIsRequired && !row.isDeleted" form="f!"></addressEdit>
          </div>
          <div class="col-auto">
            <button type="button" class="btn btn-sm btn-outline-danger" (click)="removeAddress(blah)" *ngIf="!row.isDeleted">
              <i class="fas fa-trash-alt fa-fw" [class.fa-times]="row.addressId" [class.fa-trash-alt]="!row.addressId"></i>
            </button>
            <button type="button" class="btn btn-sm btn-warning" (click)="row.isDeleted = false" *ngIf="row.isDeleted"><i class="fas fa-undo fa-fw"></i></button>
          </div>
        </div>
      </div>
    </div>
    <spudCheckbox [propertyAttributes]="dtoPropertyAttributes.isActive_Attributes" [dto]="dto" [predicate]="'isActive'" [dtoOriginal]="dtoOriginal" [form]="f"></spudCheckbox>
    <spudCheckbox [propertyAttributes]="dtoPropertyAttributes.optOutOfMemberEmails_Attributes" [dto]="dto" [predicate]="'optOutOfMemberEmails'" [dtoOriginal]="dtoOriginal" [form]="f"></spudCheckbox>
    <spudCheckbox [propertyAttributes]="dtoPropertyAttributes.optOutOfGeneralEmails_Attributes" [dto]="dto" [predicate]="'optOutOfGeneralEmails'" [dtoOriginal]="dtoOriginal" [form]="f"></spudCheckbox>
    <spudCheckbox [propertyAttributes]="dtoPropertyAttributes.isLoginEnabled_Attributes" [dto]="dto" [predicate]="'isLoginEnabled'" [dtoOriginal]="dtoOriginal" [form]="f"></spudCheckbox>
    <div *ngIf="f.submitted && !f.form.valid" class="alert alert-danger"><h4>Check for invalid fields</h4></div>
    <div *ngIf="message != null" class="alert alert-danger"><h4 [innerHTML]="message"></h4></div>
  </div>
  <div class="modal-footer">
    <unsavedChangesNotification [dataUpdated]="dataUpdated"></unsavedChangesNotification>
    <modalDefaultFooterButtons [form]="f" (close)="close($event)"></modalDefaultFooterButtons>
  </div>
</form>
