<div>
  <div [cgBusy]="isBusy">
    <h4>Join Team 1</h4>
    <p>
      Team-1 is Michigan's oldest, largest and most experienced High Power Rocketry club. Founded in 1988, we now have over 100 members, and it's those members that make Team-1 Michigan's premier rocketry group. Team-1 flies everything from the largest N powered rockets to the smallest Estes rockets and everything in between. We conduct well run, safe, and insured launches that have waivers from the Federal Aviation Administration (FAA).
    </p>
    <p>
      <button type="button" class="btn btn-link">Register now to join us</button>
    </p>
  </div>
</div>
