<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="text-center"><img [src]="logo" alt="Logo" class="img-fluid" /></div>
      <h4>Register To Join Michigan Team 1</h4>
      <div *ngIf="message != null" class="alert alert-danger"><h4 [innerHTML]="message"></h4></div>
      <form class="form-horizontal" [cgBusy]="isBusy" name="form" (ngSubmit)="f.form.valid && submit()" [class.form-submitted]="f.submitted" #f="ngForm" novalidate>
        <div class="row">
          <div class="col-md-6">
            <spudEmail [propertyAttributes]="dtoPropertyAttributes.email_Attributes" [dto]="dto" [predicate]="'email'" [dtoOriginal]="dtoOriginal" [form]="f">
            </spudEmail>
            <div class="form-group form-row">
              <label for="confirmEmail" class="col-form-label col-md-3"><defaultLabel [propertyAttributes]="dtoPropertyAttributes.confirmEmail_Attributes"></defaultLabel></label>
              <div class="col-md-9">
                <input type="email" class="form-control" id="confirmEmail" name="confirmEmail" [(ngModel)]="dto.confirmEmail" #confirmEmail="ngModel" email
                       [required]="dtoPropertyAttributes.confirmEmail_Attributes.required.value" pattern="{{emailEscaped}}" />
                <div *ngIf="confirmEmail.invalid && (confirmEmail.dirty || confirmEmail.touched || f.submitted)" class="invalid-feedback d-block">
                  <div *ngIf="f.submitted && confirmEmail.errors.required">
                    {{dtoPropertyAttributes.confirmEmail_Attributes | requiredErrorMessage}}
                  </div>
                  <div *ngIf="confirmEmail.errors.pattern">
                    {{dtoPropertyAttributes.confirmEmail_Attributes.compare.errorMessage}}
                  </div>
                  <div *ngIf="confirmEmail.errors.email">
                    {{dtoPropertyAttributes.confirmEmail_Attributes.emailAddress.errorMessage}}
                  </div>
                </div>
              </div>
            </div>
            <spudStringMax [propertyAttributes]="dtoPropertyAttributes.firstName_Attributes" [dto]="dto" [predicate]="'firstName'" [dtoOriginal]="dtoOriginal" [form]="f">
            </spudStringMax>
            <spudStringMax [propertyAttributes]="dtoPropertyAttributes.lastName_Attributes" [dto]="dto" [predicate]="'lastName'" [dtoOriginal]="dtoOriginal" [form]="f">
            </spudStringMax>
            <div class="form-group form-row">
              <label class="control-label col-md-3" for="password"><defaultLabel [propertyAttributes]="dtoPropertyAttributes.password_Attributes"></defaultLabel></label>
              <div class="col-md-9">
                <input type="password" class="form-control" id="password" name="password" [(ngModel)]="dto.password" #password="ngModel"
                       [required]="dtoPropertyAttributes.password_Attributes.required.value" />
                <div *ngIf="f.submitted && password.invalid && (password.dirty || password.touched || f.submitted)" class="invalid-feedback d-block">{{dtoPropertyAttributes.password_Attributes | requiredErrorMessage}}</div>
                <div class="form-text text-muted">
                  <small>Password Requirements</small>
                  <ul>
                    <li><small>At least 12 characters</small></li>
                    <li><small>At least 1 upper case and 1 lower case letter</small></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="form-group form-row">
              <label class="control-label col-md-3" for="confirmPassword"><defaultLabel [propertyAttributes]="dtoPropertyAttributes.confirmPassword_Attributes"></defaultLabel></label>
              <div class="col-md-9">
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" [(ngModel)]="dto.confirmPassword"
                       #confirmPassword="ngModel" pattern="{{passwordEscaped}}" [required]="dtoPropertyAttributes.confirmPassword_Attributes.required.value" />
                <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched || f.submitted)" class="invalid-feedback d-block">
                  {{dtoPropertyAttributes.confirmPassword_Attributes.compare.errorMessage}}
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <spudPhone [propertyAttributes]="dtoPropertyAttributes.phoneNumber_Attributes" [dto]="dto" [predicate]="'phoneNumber'" [dtoOriginal]="dtoOriginal" [form]="f">
            </spudPhone>
            <div class="form-group form-row">
              <label for="mobileCarrierId" class="col-form-label col-md-3">
                <defaultLabel [propertyAttributes]="dtoPropertyAttributes.mobileCarrierId_Attributes"></defaultLabel>
                <inputUnsavedChangesNotification [dataUpdated]="(dto.mobileCarrierId != null && dtoOriginal == null) || dto.mobileCarrierId != dtoOriginal.mobileCarrierId"></inputUnsavedChangesNotification>
              </label>
              <div class="col-md-9">
                <select [(ngModel)]="dto.mobileCarrierId" name="mobileCarrierId" class="form-control" #mobileCarrierId="ngModel" [required]="dtoPropertyAttributes.mobileCarrierId_Attributes.required.value">
                  <option [ngValue]="undefined">Select...</option>
                  <option *ngFor="let o of mobileCarriers" [ngValue]="o.value">{{o.text}}</option>
                </select>
              </div>
            </div>
            <inputDate [propertyAttributes]="dtoPropertyAttributes.birthDate_Attributes" [dto]="dto" [predicate]="'birthDate'" [dtoOriginal]="dtoOriginal" [form]="f">
            </inputDate>
            <spudStringMax [propertyAttributes]="dtoPropertyAttributes.tripoliNumber_Attributes" [dto]="dto" [predicate]="'tripoliNumber'" [dtoOriginal]="dtoOriginal" [form]="f">
            </spudStringMax>
            <spudStringMax [propertyAttributes]="dtoPropertyAttributes.narNumber_Attributes" [dto]="dto" [predicate]="'narNumber'" [dtoOriginal]="dtoOriginal" [form]="f">
            </spudStringMax>
            <div class="form-group form-row">
              <label for="certificationLevel" class="col-form-label col-md-3">
                <defaultLabel [propertyAttributes]="dtoPropertyAttributes.certificationLevel_Attributes"></defaultLabel>
                <inputUnsavedChangesNotification [dataUpdated]="(dto.certificationLevel != null && dtoOriginal == null) || dto.certificationLevel != dtoOriginal.certificationLevel"></inputUnsavedChangesNotification>
              </label>
              <div class="col-md-9">
                <div class="form-check form-check-inline" *ngFor="let row of certLevels">
                  <label class="form-check-label mr-2">
                    <input class="form-check-input" type="radio" [(ngModel)]="dto.certificationLevel" name="certificationLevel" id="certificationLevel{{row.value}}" [value]="row.value">
                    {{row.text}}
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group form-row">
          <div class="col-sm-3">
            <label for="role" class="col-form-label"><requiredField *ngIf="addressIsRequired"></requiredField>{{dtoPropertyAttributes.addresses_Attributes.name}}</label>
            &nbsp;<button type="button" class="btn btn-sm btn-success" (click)="addAddress()"><i class="fas fa-plus"></i></button>
          </div>
          <div class="col-sm">
            <div class="form-row" *ngFor="let row of dto.addresses;index as blah;" [class.toBeDeleted]="row.isDeleted">
              <div class="col">
                <addressEdit [(addressObj)]="row.addressObj" [isRequired]="addressIsRequired && !row.isDeleted" form="f!"></addressEdit>
              </div>
              <div class="col-auto">
                <button type="button" class="btn btn-sm btn-outline-danger" (click)="removeAddress(blah)" *ngIf="!row.isDeleted"><i class="fas fa-trash-alt" [class.fa-times]="row.addressId" [class.fa-trash-alt]="!row.addressId"></i></button>
                <button type="button" class="btn btn-sm btn-warning" (click)="row.isDeleted = false" *ngIf="row.isDeleted"><i class="fas fa-undo"></i></button>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group text-right">
          <button class="btn btn-primary" [disabled]="(f.form.invalid && f.submitted) || disableSubmit" accesskey="S"><i class="far fa-save"></i> Register</button>&nbsp;&nbsp;
          <a [routerLink]="['/login']" class="btn btn-warning" accesskey="C"><i class="fas fa-times"></i> Cancel</a>
        </div>
        <div class="form-group text-right text-danger">
          {{submitMessage}}
        </div>
      </form>
    </div>
  </div>
</div>

