<div class="modal-header">
  <h4 class="modal-title">Change Password</h4>
  <button type="button" class="close text-white" aria-label="Close" (click)="close('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [cgBusy]="isBusy" name="form" (ngSubmit)="f.form.valid && save(f)" [class.form-submitted]="f.submitted" #f="ngForm" novalidate>
  <div class="modal-body">
    <div *ngIf="message != null" class="alert alert-danger"><h4 [innerHTML]="message"></h4></div>
    <div class="form-group">
      <label class="control-label" for="currentPassword"><defaultLabel [propertyAttributes]="dtoPropertyAttributes.currentPassword_Attributes"></defaultLabel></label>
      <div class="input-group input-group-lg">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fas fa-lock"></i>
          </span>
        </div>
        <input type="password" class="form-control" id="currentPassword" name="currentPassword" [(ngModel)]="dto.currentPassword" #currentPassword="ngModel"
               placeholder="Enter your password" [required]="dtoPropertyAttributes.currentPassword_Attributes.required.value" />
      </div>
      <div *ngIf="f.submitted && currentPassword.invalid && (currentPassword.dirty || currentPassword.touched || f.submitted)" class="invalid-feedback d-block">{{dtoPropertyAttributes.currentPassword_Attributes | requiredErrorMessage}}</div>
    </div>
    <div class="form-group">
      <label class="control-label" for="password"><defaultLabel [propertyAttributes]="dtoPropertyAttributes.password_Attributes"></defaultLabel></label>
      <div class="input-group input-group-lg">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fas fa-lock"></i>
          </span>
        </div>
        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="dto.password" #password="ngModel"
               placeholder="Enter your password" [required]="dtoPropertyAttributes.password_Attributes.required.value" />
      </div>
      <div *ngIf="f.submitted && password.invalid && (password.dirty || password.touched || f.submitted)" class="invalid-feedback d-block">{{dtoPropertyAttributes.password_Attributes | requiredErrorMessage}}</div>
    </div>
    <div class="form-group">
      <label class="control-label" for="confirmPassword"><defaultLabel [propertyAttributes]="dtoPropertyAttributes.confirmPassword_Attributes"></defaultLabel></label>
      <div class="input-group input-group-lg">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fas fa-lock"></i>
          </span>
        </div>
        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" [(ngModel)]="dto.confirmPassword"
               #confirmPassword="ngModel" pattern={{passwordEscaped}} placeholder="Confirm Password" [required]="dtoPropertyAttributes.confirmPassword_Attributes.required.value" />
      </div>
      <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched || f.submitted)" class="invalid-feedback d-block">
        {{dtoPropertyAttributes.confirmPassword_Attributes.compare.errorMessage}}
      </div>
    </div>
    <div *ngIf="message != null" class="alert alert-danger"><h4 [innerHTML]="message"></h4></div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" [disabled]="(f.form.invalid && f.submitted)" accesskey="S"><i class="far fa-save"></i> Save</button>
    <button type="button" class="btn btn-outline-warning" (click)="close('Close click')" accesskey="C"><i class="fas fa-window-close"></i> Cancel</button>
  </div>
</form>
