<div stTable #table="stTable">
  <div [cgBusy]="table.busy || isBusy">
    <div class="row">
      <div class="col-sm-6">
        <h3>Announcements Management</h3>
      </div>
      <div class="col-sm-6 text-right">
        <button type="button" class="btn btn-primary" (click)="edit(undefined)" accesskey="A"><i class="fas fa-plus"></i> Add New</button>
      </div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th stSort="title" class="canSort">{{dtoPropertyAttributes.title_Attributes.name}}</th>
          <th stSort="startShowingOnDate" class="d-none d-lg-table-cell canSort">{{dtoPropertyAttributes.startShowingOnDate_Attributes.name}}</th>
          <th stSort="isActive" class="d-none d-lg-table-cell canSort">{{dtoPropertyAttributes.isActive_Attributes.name}}</th>
        </tr>
        <tr>
          <th class="displayBlock d-lg-table-cell">
            <div class="row">
              <div class="col-auto d-lg-none">
                <button type="button" class="btn btn-sm btn-outline-info" (click)="isCollapsedFilters = !isCollapsedFilters" [attr.aria-expanded]="!isCollapsedFilters" aria-controls="filters">
                  <i class="fas fa-fw" [class.fa-chevron-right]="isCollapsedFilters" [class.fa-chevron-down]="!isCollapsedFilters"></i>
                </button>
              </div>
              <div class="col col-lg-12">
                <input stSearch="title" placeholder="Search..." class="form-control-sm form-control" type="search" />
              </div>
            </div>
          </th>
          <th class="displayBlock d-lg-table-cell" [collapse]="isCollapsedFilters"><input stSearch="startShowingOnDate" placeholder="Start showing..." class="form-control-sm form-control" type="search" /></th>
          <th class="displayBlock d-lg-table-cell" [collapse]="isCollapsedFilters">
            <select stFilter="isActive" stFilterOperator="equals" class="form-control-sm form-control">
              <option value="">All</option>
              <option value="true" selected>Yes</option>
              <option value="false">No</option>
            </select>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="table.items == null || table.items.length == 0">
          <td [attr.colspan]="columnCount">None found</td>
        </tr>
        <tr *ngFor="let row of table.items;index as blah;">
          <td class="displayBlock d-lg-table-cell">
            <div class="row">
              <div class="col-auto d-lg-none">
                <button type="button" class="btn btn-sm btn-outline-info" (click)="row.isNotCollapsed = !row.isNotCollapsed" [attr.aria-expanded]="row.isNotCollapsed" [attr.aria-controls]="'Row-' + blah">
                  <i class="fas fa-fw" [class.fa-chevron-right]="!row.isNotCollapsed" [class.fa-chevron-down]="row.isNotCollapsed"></i>
                </button>
              </div>
              <div class="col col-lg-12">
                <button type="button" class="btn btn-sm btn-link" (click)="edit(row.index)"><span class="fas fa-edit">&nbsp;</span>{{row.value.title}}</button>
              </div>
            </div>
          </td>
          <td class="displayBlock d-lg-table-cell" [collapse]="!row.isNotCollapsed"><label class="col-form-label col-sm-3 d-lg-none">{{dtoPropertyAttributes.startShowingOnDate_Attributes.name}}</label> {{row.value.startShowingOnDate | defaultDate}}</td>
          <td class="displayBlock d-lg-table-cell" [collapse]="!row.isNotCollapsed">
            <label class="col-form-label col-sm-3 d-lg-none">
              {{dtoPropertyAttributes.isActive_Attributes.name}}
            </label><span [outerHTML]="row.value.isActive | spudYesNo:true"></span>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr stPagination #pager="stPagination">
          <td [attr.colspan]="columnCount">
            <smartTablePager [pager]="pager"></smartTablePager>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
