html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar-brand img {
    max-height: 4rem;
}

.body-content {
    margin-top:1rem;
}

.canSelect{
    cursor:pointer;
}

/******** Busy indicator ******************************/
.busy-indicator-wrapper {
    padding: 4rem;
}

.busy-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    opacity: 1;
}

    .busy-indicator img {
        max-height: 100px;
        animation: rotation 2s infinite linear;
        margin-right: 10px;
    }

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}
/***** end busy indicator **********************/

/*Blazored Toast overrides*/
.position-topright {
    top: 5px !important;
}

.blazored-toast-container {
    z-index: 10000 !important;
}
/***********************************/

.valid.modified:not([type=checkbox]):not([type=radio]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

.hover:hover {
    background-color: lightgray !important;
}

[data-bs-theme=dark] .hover:hover {
    background-color: dimgray !important;
}