@import 'variables.scss';

form.form-submitted .ng-invalid,
.ng-invalid.ng-touched{
  border-color: $errorBorderColor;

  &:focus {
    -moz-box-shadow: 0px 0px 0px 0.2rem $errorBorderColor;
    -webkit-box-shadow: 0px 0px 0px 0.2rem $errorBorderColor;
    box-shadow: 0px 0px 0px 0.2rem $errorBorderColor;
  }
}

/* angular2-notifications needed higher z-index to show on top.*/
.simple-notification-wrapper {
    z-index: 100000 !important;
}

/* smart table ************************/
.st-sort-asc:before {
  content: '\25B2';
}

.st-sort-desc:before {
  content: '\25BC';
}

.st-selected {
  background: #8ec9ee !important;
}

.pageWidth-form-control {
  width:50px;
}
