@import 'variables.scss';

html {
    position: relative;
    min-height: 100%;
}

.body-content-loginLayout {
  padding-top: 4.4rem;
  margin-bottom: 3.4rem;
}

.logo-big {
    max-height:15rem;
}

.body-content {
  padding-top: 7.4rem;
  margin-bottom: 3.4rem;
}

/*  top Nav ***************************/
.navbar.fixed-top {
  min-height: 112px;
}

/***** used for sidenav only.  comment out if not needed    ****/
/* max-width here must be the same as the side nav */

/*.body-content {
  padding-left: $bodyContentPaddingLeft;
}


@media (max-width: $sideNavBreakPoint) {
  .body-content {
    padding-left: 15px;
  }
}*/

/***** End Side Nav ***********************************************/

@media (max-width: 768px) {
    .position-absolute-md {
        position: absolute;
    }
}

.navbar-brand img {
    max-height: 5.25rem;
    max-width: 8rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  line-height: 3rem;
  background-color: #f5f5f5;
  padding-left: $bodyContentPaddingLeft;
}

@media (max-width: $sideNavBreakPoint) {
  .footer {
    padding-left: 15px;
  }
}

/********** modal *********/
.modal-dialog .modal-content {
    background-color: transparent;
}

.modal-dialog .modal-header {
  background: $modalHeaderBackgroundColor;
  color: $modalHeaderColor;
  backdrop-filter: $backdropFilter;
  -webkit-backdrop-filter: $backdropFilter;
}

.modal-dialog .modal-header .modal-title {
    color: $modalHeaderColor;
}

.modal-dialog .modal-body {
    background-color: $modalBodyBackgroundColor;
    color: $modalBodyColor;
}

.modal-dialog .modal-body .checkbox {
    color: $modalBodyColor;
}

.modal-dialog .modal-footer {
  background: $modalFooterBackgroundColor;
  color: $modalFooterColor;
  backdrop-filter: $backdropFilter;
  -webkit-backdrop-filter: $backdropFilter;
}

.modal-full-screen {
  width: auto;
  margin: 10px;
}

.modal-full-screen.modal-dialog {
  max-width:unset;
}

imageviewer .modal-body {
  padding: 0px;
}

imageviewer img {
  max-height:100%;
  max-width:100%;
}

.toBeDeleted {
    background: $toBeDeletedColor;
}

/* cursor ************************************* */
.canSelect {
  cursor:pointer;
}

.canSort {
  cursor: pointer;
}

.imageZoomIn {
  cursor:zoom-in;
}

.imageZoomOut {
  cursor: zoom-out;
}

/* content client to provide ********************/
.clientToProvide {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, red, orange, yellow, green, cyan, blue, violet);
  background: -o-linear-gradient(right, red, orange, yellow, green, cyan, blue, violet);
  background: -moz-linear-gradient(right, red, orange, yellow, green, cyan, blue, violet);
  background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet);
}

.image-limiter {
  max-width:400px;
  max-height:400px;
}

.image-limiter-big {
  max-width: 800px;
  max-height: 800px;
}

.carousel-slide {
  max-height:30vh;
}

.passwordPopoverDiv{
  width:200px;
}

.imageModelToScreenHeight {
  max-height:97vh;
}

.cardColumnImage {
  max-height:400px;
  object-fit:contain;
}

@media (min-width: 576px) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 768px) {
  .card-columns {
    column-count: 3;
  }
}

@media (min-width: 992px) {
  .card-columns {
    column-count: 4;
  }
}

@media (min-width: 1200px) {
  .card-columns {
    column-count: 5;
  }
}

/* table helpers */
.displayBlock {
  display: block;
}

/* used because tinymce formatting sucks.*/
.announcement table {
  margin-right: 1rem;
}

/* used because tinymce formatting sucks.*/
.announcement table td {
  text-align: center;
}
