$bodyContentPaddingLeft: 12.4rem;
$sideNavBreakPoint: 768px;

$backdropFilter: blur(2px);

$errorBorderColor: #dc3545;

$modalHeaderBackgroundColor: rgba(60, 60, 60, 0.70);
$modalFooterBackgroundColor: rgba(60, 60, 60, 0.70);
$modalBodyBackgroundColor: rgba(187, 187, 187, 0.95);
$modalHeaderColor: white;
$modalBodyColor: $modalHeaderColor;
$modalFooterColor:$modalHeaderColor;

$toBeDeletedColor: #ffeded;
