<li class="nav-item" [routerLinkActive]="['active']">
  <a class="nav-link" [routerLink]="['/dashboard']" (click)="triggerMenuClose()"><i class="fas fa-home fa-fw"></i> Home</a>
</li>
<li class="nav-item" [routerLinkActive]="['active']">
  <a class="nav-link" [routerLink]="['/joinus']" (click)="triggerMenuClose()"><i class="fas fa-user-astronaut fa-fw"></i> Join Us</a>
</li>
<li class="nav-item" [routerLinkActive]="['active']">
  <a class="nav-link" [routerLink]="['/gallery']" (click)="triggerMenuClose()"><i class="fas fa-images fa-fw"></i> Gallery</a>
</li>
<li class="nav-item" [routerLinkActive]="['active']">
  <a class="nav-link" [routerLink]="['/users']" (click)="triggerMenuClose()"><i class="fas fa-users fa-fw"></i> Members</a>
</li>
<li class="nav-item dropdown" dropdown>
  <a class="nav-link dropdown-toggle canSelect" id="downloadMenuLink" dropdownToggle
     aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-file-download"></i> Downloads
  </a>

  <div class="dropdown-menu" aria-labelledby="downloadMenuLink" *dropdownMenu>
    <a class="dropdown-item" href="https://downloads.team1.org/Team-1_launch_card.pdf" target="_blank" (click)="triggerMenuClose()"><i class="fas fa-rocket"></i> Launch Card</a>
    <a class="dropdown-item" href="https://downloads.team1.org/Team-1_launch_registration_form.pdf" target="_blank" (click)="triggerMenuClose()"><i class="fas fa-clipboard"></i> Registration Form</a>
    <a class="dropdown-item" href="https://downloads.team1.org/Team-1_BOD_hallofhonor.xlsx" target="_blank" (click)="triggerMenuClose()"><i class="fas fa-award"></i> BoD Hall Of Honor</a>
    <a class="dropdown-item" href="https://downloads.team1.org/Team-1_Membership_Application.pdf" target="_blank" (click)="triggerMenuClose()"><i class="fab fa-wpforms"></i> Membership Application</a>
    <a class="dropdown-item" href="https://downloads.team1.org/Birch_Run_Launch_Site_Map.pdf" target="_blank" (click)="triggerMenuClose()"><i class="fas fa-sitemap"></i> Birch Run Site Map</a>
    <a class="dropdown-item" href="https://downloads.team1.org/TeamTalk_Page.zip" target="_blank" (click)="triggerMenuClose()"><i class="fas fa-file-archive"></i> Team Talks</a>
  </div>
</li>
<li *ngIf="authService.isAuthenticated && (authService.announcementAddEditDelete || authService.eventAddEditDelete || authService.locationAddEditDelete || authService.userAddEditDelete || authService.taskAddEditDelete)" class="nav-item dropdown" dropdown>
  <a class="nav-link dropdown-toggle canSelect" id="adminMenuLink" dropdownToggle 
     aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-unlock fa-fw"></i> Admin
  </a>
  <div class="dropdown-menu" aria-labelledby="adminMenuLink" *dropdownMenu>
    <a *ngIf="authService.isAuthenticated && authService.announcementAddEditDelete" class="dropdown-item" [routerLinkActive]="['active']" [routerLink]="['/announcements']" (click)="triggerMenuClose()"><i class="fas fa-bullhorn fa-fw"></i> Announcements</a>
    <a *ngIf="authService.isAuthenticated && authService.eventAddEditDelete" class="dropdown-item" [routerLinkActive]="['active']" [routerLink]="['/events']" (click)="triggerMenuClose()"><i class="fas fa-calendar-alt fa-fw"></i> Events</a>
    <a *ngIf="authService.isAuthenticated && authService.locationAddEditDelete" class="dropdown-item" [routerLinkActive]="['active']" [routerLink]="['/locations']" (click)="triggerMenuClose()"><i class="fas fa-map-marked-alt fa-fw"></i> Locations</a>
    <a *ngIf="authService.isAuthenticated && authService.taskAddEditDelete" class="dropdown-item" [routerLinkActive]="['active']" [routerLink]="['/tasks']" (click)="triggerMenuClose()"><i class="fas fa-tasks fa-fw"></i> Tasks</a>
  </div>
</li>
