<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-10 col-md-8">
      <div class="text-center"><img [src]="logo" alt="Logo" class="img-fluid logo-big" /></div>
      <div *ngIf="message != null" class="alert alert-danger"><h4 [innerHTML]="message"></h4></div>
      <form name="form" [cgBusy]="isBusy" (ngSubmit)="f.form.valid && submit()" [class.form-submitted]="f.submitted" #f="ngForm" novalidate>
        <div class="form-group">
          <label class="control-label" for="email"><defaultLabel [propertyAttributes]="dtoPropertyAttributes.email_Attributes"></defaultLabel></label>
          <div class="input-group input-group-lg">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-user"></i>
              </span>
            </div>
            <input type="email" class="form-control form-control-lg" id="email" name="email" [(ngModel)]="dto.email" #email="ngModel" [autofocus]="dto.email == null"
                   [required]="dtoPropertyAttributes.email_Attributes.required.value && false" email autocomplete="off" placeholder="Enter your email" />
          </div>
          <div *ngIf="email.invalid && (email.dirty || email.touched || f.submitted)" class="invalid-feedback d-block">
            <div *ngIf="f.submitted && email.errors.required">
              {{dtoPropertyAttributes.email_Attributes | requiredErrorMessage}}
            </div>
            <div *ngIf="email.errors.email">
              {{dtoPropertyAttributes.email_Attributes.emailAddress.errorMessage}}
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="password"><defaultLabel [propertyAttributes]="dtoPropertyAttributes.password_Attributes"></defaultLabel></label>
          <div class="input-group input-group-lg">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-lock"></i>
              </span>
            </div>
            <input type="password" class="form-control form-control-lg" id="password" name="password" [(ngModel)]="dto.password" #password="ngModel"
                   [required]="dtoPropertyAttributes.password_Attributes.required.value" placeholder="Enter your password" [autofocus]="dto.email != null" />
            <div class="input-group-append">
              <ng-template #popTemplate><div class="passwordPopoverDiv" [innerHtml]="popOverHtml"></div></ng-template>
              <button class="btn btn-info" type="button" popoverTitle="Password Requirements" placement="bottom"
                      [popover]="popTemplate" [outsideClick]="true">
                ?
              </button>
            </div>
          </div>
          <div *ngIf="f.submitted && password.invalid && (password.dirty || password.touched || f.submitted)" class="invalid-feedback d-block">{{dtoPropertyAttributes.password_Attributes | requiredErrorMessage}}</div>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" [(ngModel)]="dto.rememberMe" name="rememberMe">
            {{dtoPropertyAttributes.rememberMe_Attributes.name}}
          </label>
        </div>
        <div class="form-group text-right">
          <button type="submit" [disabled]="f.form.invalid && f.submitted" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Login</button> &nbsp;
          <a [routerLink]="['/register']" class="btn btn-link">Register</a>&nbsp;
          <a [routerLink]="['/forgotpassword']" class="btn btn-link">Forgot Password?</a>
        </div>
      </form>
    </div>
  </div>
</div>
