<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <modules runAllManagedModulesForAllRequests="false">
        <remove name="WebDAVModule" />
      </modules>
      <handlers>
        <remove name="aspNetCore" />
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="false" stdoutLogFile="..\uploads\stdout" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44328" />
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="COMPLUS_ForceENC" value="1" />
          <environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="Microsoft.AspNetCore.Watch.BrowserRefresh;Microsoft.WebTools.BrowserLink.Net" />
          <environmentVariable name="DOTNET_STARTUP_HOOKS" value="C:\Program Files\dotnet\SDK\6.0.100\DotnetTools\dotnet-watch\6.0.100-rtm.21527.8\tools\net6.0\any\middleware\Microsoft.AspNetCore.Watch.BrowserRefresh.dll;C:\Program Files\Microsoft Visual Studio\2022\Community\Common7\IDE\Extensions\Microsoft\Web Tools\Browser Link\Microsoft.WebTools.BrowserLink.Net.dll;c:\program files\microsoft visual studio\2022\community\common7\ide\commonextensions\microsoft\hotreload\Microsoft.Extensions.DotNetDeltaApplier.dll" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_ENDPOINT" value="ws://localhost:59778/Team1.Web.Site/" />
          <environmentVariable name="DOTNET_MODIFIABLE_ASSEMBLIES" value="debug" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAscIWij2Er9sDlzcohD70Q5+5sU4qJIK9K540kfSk/wxwIauwYQzRoyezL8Ez1vpA9uuPtbGl3U2Y5ZoOpNQS1rOm9qNDvBvWQ7Ydl2D1qpxERj/JMzo6BXUMrmC8wf0uZjpDjCFl7XFj+/mpVn1pakM3vPc0/MaU098OBNEC7/V4UgxA3dxrGWOSUBJ+qXrswnIPVTbjR9WMP2fr5/7C5P7zZgLNoxSJiD5Aih24c5e09VqmtY9tpwjt9gpH7gI8e/i79kkaWjO9NnNM+/st7xwYNTGHbbgY4vdTAiSIW0MFhbITFIo3vQzvqACtLt6XjPBsST83nZcxaBr99mWHvQIDAQAB" />
          <environmentVariable name="DOTNET_HOTRELOAD_NAMEDPIPE_NAME" value="5ed865d2-0bcd-41f8-904b-8f555eacf89e" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>