<div class="modal-header">
  <h4 class="modal-title">Task Add/Edit</h4>
  <div class="col-sm">
    <unsavedChangesNotification [dataUpdated]="dataUpdated"></unsavedChangesNotification>
  </div>
  <button type="button" class="close text-white" aria-label="Close" (click)="close('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [cgBusy]="isBusy" name="form" (ngSubmit)="f.form.valid && save(f)" [class.form-submitted]="f.submitted" #f="ngForm" novalidate>
  <div class="modal-body">
    <div *ngIf="f.submitted && !f.form.valid" class="alert alert-danger"><h4>Check for invalid fields</h4></div>
    <div *ngIf="message != null" class="alert alert-danger"><h4 [innerHTML]="message"></h4></div>
    <div class="form-group form-row">
      <label for="taskCategoryId" class="col-form-label col-sm-3"><defaultLabel [propertyAttributes]="dtoPropertyAttributes.taskCategoryId_Attributes"></defaultLabel></label>
      <div class="col-sm-9">
        <select id="taskCategoryId" [(ngModel)]="dto.taskCategoryId" name="taskCategoryId" class="form-control" #taskCategoryId="ngModel" [required]="dtoPropertyAttributes.taskCategoryId_Attributes.required.value">
          <option [ngValue]="undefined">Select...</option>
          <option *ngFor="let o of taskCategories" [ngValue]="o.value">{{o.text}}</option>
        </select>
        <div *ngIf="f.submitted && taskCategoryId.invalid && (taskCategoryId.dirty || taskCategoryId.touched || f.submitted)" class="invalid-feedback d-block">
          <div *ngIf="taskCategoryId.errors.required">
            {{dtoPropertyAttributes.taskCategoryId_Attributes | requiredErrorMessage}}
          </div>
        </div>
      </div>
    </div>
    <textAreaMax [propertyAttributes]="dtoPropertyAttributes.description_Attributes" [dto]="dto" [predicate]="'description'" [dtoOriginal]="dtoOriginal" [form]="f"></textAreaMax>
    <div class="form-group form-row">
      <label for="taskMemberType" class="col-form-label col-sm-3">
        <defaultLabel [propertyAttributes]="dtoPropertyAttributes.taskMemberTypes_Attributes"></defaultLabel>
      </label>
      <div class="col-sm-9">
        <div class="input-group mb-2">
          <select id="taskMemberType" [(ngModel)]="memberType" name="taskMemberType" class="form-control" #taskMemberType="ngModel">
            <option [ngValue]="undefined">Select...</option>
            <option *ngFor="let o of getMemberTypes()" [ngValue]="o">{{o.text}}</option>
          </select>
          <div class="input-group-append">
            <button type="button" class="btn btn-sm btn-success" (click)="addMemberType()"><i class="fas fa-plus fa-fw"></i></button>
          </div>
        </div>
        <div class="form-row mb-2" *ngFor="let row of dto.taskMemberTypes;index as blah" [class.toBeDeleted]="row.isDeleted" [class.text-dark]="row.isDeleted">
          <div class="col">
            {{row.memberTypeString}}
          </div>
          <div class="col-auto">
            <button type="button" class="btn btn-sm btn-outline-danger" (click)="removeMemberType(blah)" *ngIf="!row.isDeleted"><i class="fas fa-trash-alt fa-fw" [class.fa-times]="!row.isAdded" [class.fa-trash-alt]="row.isAdded"></i></button>
            <button type="button" class="btn btn-sm btn-warning" (click)="row.isDeleted = false" *ngIf="row.isDeleted"><i class="fas fa-undo fa-fw"></i></button>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group form-row">
      <label for="dueMonth" class="col-form-label col-sm-3"><defaultLabel [propertyAttributes]="dtoPropertyAttributes.dueMonth_Attributes"></defaultLabel></label>
      <div class="col-sm-9">
        <select id="dueMonth" [(ngModel)]="dto.dueMonth" name="dueMonth" class="form-control" #dueMonth="ngModel" [required]="dtoPropertyAttributes.dueMonth_Attributes.required.value">
          <option [ngValue]="undefined">Select...</option>
          <option *ngFor="let o of months" [ngValue]="o.value">{{o.text}}</option>
        </select>
      </div>
      <div *ngIf="f.submitted && dueMonth.invalid && (dueMonth.dirty || dueMonth.touched || f.submitted)" class="invalid-feedback d-block">
        <div *ngIf="dueMonth.errors.required">
          {{dtoPropertyAttributes.dueMonth_Attributes | requiredErrorMessage}}
        </div>
      </div>
    </div>
    <inputNaturalInteger [propertyAttributes]="dtoPropertyAttributes.dueDay_Attributes" [dto]="dto" [predicate]="'dueDay'" [dtoOriginal]="dtoOriginal" [form]="f"></inputNaturalInteger>
    <spudCheckbox [propertyAttributes]="dtoPropertyAttributes.isActive_Attributes" [dto]="dto" [predicate]="'isActive'" [dtoOriginal]="dtoOriginal" [form]="f"></spudCheckbox>
    <div *ngIf="f.submitted && !f.form.valid" class="alert alert-danger"><h4>Check for invalid fields</h4></div>
    <div *ngIf="message != null" class="alert alert-danger"><h4 [innerHTML]="message"></h4></div>
  </div>
  <div class="modal-footer">
    <unsavedChangesNotification [dataUpdated]="dataUpdated"></unsavedChangesNotification>
    <modalDefaultFooterButtons [form]="f" (close)="close($event)"></modalDefaultFooterButtons>
  </div>
</form>
